# Scala CircleCI 2.0 configuration file
# See: https://circleci.com/docs/2.0/sample-config/
version: 2

# https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  build:
    docker:
      - image: cimg/openjdk:11.0
      - image: cimg/mysql:8.0
      - image: cimg/postgres:14.0

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx2g


    # https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.sbt" }}

      - run: sbt test:compile

      - save_cache:
          paths:
            - ~/.ivy2
          key: v1-dependencies-{{ checksum "build.sbt" }}

      - run: sbt test
