version: 2

jobs:
  build:
    docker:
      - image: cimg/openjdk:11.0

      - image: cimg/mysql:8.0

      - image: cimg/postgres:14.0

      - image: cimg/postgres:9.5
        command: [--port=5433]

      - image: cimg/mariadb:10.6
        command: [--port=3307]

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx2g


    steps:
      - checkout

      - restore_cache:
          keys:
            - v01-dependencies-{{
                checksum "build.sbt" }}-{{
                checksum "project/Dependencies.scala" }}

      - run: sbt +Test/compile

      - save_cache:
          paths:
            - ~/.ivy2
          key: v01-dependencies-{{
                 checksum "build.sbt" }}-{{
                 checksum "project/Dependencies.scala" }}

      - run: sbt +test
